.wrapper {
  max-width: 1200px;
  margin: auto;
}

/*Basic Grid Styles*/
.Grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
}

.Cell {
  text-align: center;
  padding: .8em;
  margin: .2em;
  background: rgba(51, 153, 204, 0.1);
  transition: background-color 0.3s ease;
  border: 1px solid black;
  border-radius: 3px;
}

.Cell:hover {
  background: rgba(51, 153, 204, 0.3);
}

@media (min-width: 720px) {

}

@media (min-width: 48em) {

}
