/*
  Rem stands for root em.
  It acts similar to em, but instead of checking parent elements to size font, it checks the root element.
  The root element is the <html> tag.
*/

html {
  font-size: 20px;
}

h1 {
  font-size: 2rem;
}

/* Percentages: Height & Width
  To size non-text HTML elements relative to their parent elements on the page you can use percentages.

  Percentages are often used to size box-model values, like width and height, padding, border, and margins.
  They can also be used to set positioning properties (top, bottom, left, right).

  To start, let's size the height and width of an element using percentages.

  In the example above, .main and .subsection each represent divs. The .subsection div is nested within the .main div.
  Note that the dimensions of the parent div (.main) have been set to a height of 300 pixels and a width of 500 pixels.

  When percentages are used, elements are sized relative to the dimensions of their parent element (also known as a container).
  Therefore, the dimensions of the .subsection div will be 150 pixels tall and 250 pixels wide.
  Be careful, a child element's dimensions may be set erroneously if the dimensions of its parent element aren't set first.

  Note: Because the box model includes padding, borders, and margins, setting an element's width to
  100% may cause content to overflow its parent container. While tempting, 100% should only be used when content will not have padding, border, or margin.
*/

.main {
height: 300px;
width: 500px;
}

.main .subsection {
height: 50%;
width: 50%;
}

/*

*/

/*

*/

/*

*/

/*

*/

/*

*/

/*

*/

/*

*/

/*

*/

/*

*/

/*

*/

/*

*/

/*

*/

/*

*/

/*

*/

/*

*/

/*

*/

/*

*/
